#wrap_footer { float:left; width:970px; height:170px;}
#top_footer { background:url(../images/bg_top_footer.jpg) repeat-x; height:61px; margin:12px 0; line-height:61px;}
#top_footer .top_footer_inside { width:970px; margin:0 auto;}
#top_footer .s1 { width:350px; padding-left:20px; color:#f00; font-size:12px; font-weight:bold;}
#top_footer .s3 { width:355px; padding-top:10px; padding-right:10px;}
#top_footer .s3 img { display:inline; float:right; margin-left:25px;}

/*sendlink*/
fieldset.sendlink { display:inline; float:left; border:none; width:280px; padding-top:15px;}
.sendlink input { border:0; float:left; color:#746046; font-size:12px; font-family:Tahoma, Helvetica, sans-serif;}
.sendlink input.box { background:#fff; width:162px; height:14px; margin-right:5px; padding:5px; border:1px solid #189afa;}
.sendlink input.btn { background:url(../images/b_button.jpg) no-repeat; width:72px; height:27px; cursor:pointer; border:0; color:#fff; font-size:12px; font-weight:bold;}

/*footer*/
#footer { width:970px; color:#333; font-size:12px; font-weight:normal; line-height:20px;}
#footer .f1 { float:left; width:580px;}
#footer .f2 { float:right; width:370px; text-align:right;}
