ul.submenu {
	margin:0;
	padding:0;
	width:268px;
	}

ul.submenu li {
	position:relative;
	}

ul.submenu li ul {
	position:absolute;
	padding-left:10px;
	text-indent:10px;
	left:247px; /* Set 1px less than menu width */
	top:0;
	display:none;
	}

/* Styles for Menu Items */
ul.submenu li a {
	display:block;
	text-decoration:none;
	color:#333;
	padding:9px 0 !important;
	}

/* Fix IE. Hide from IE Mac \*/
* html ul.submenu li { float:left; height:1%; }
* html ul.submenu li a { height:1%; }
/* End */

ul.submenu li a:hover { color:#ff5300 !important; } /* Hover Styles */
ul.submenu li ul li a:hover { color:#333 !important; background:#c5fbf4 !important;}
		
ul.submenu ul li a { background:#9ae9e0 !important; border-bottom:1px solid #999 !important; padding:7px 0 8px !important; font-weight:normal !important; } /* Sub Menu Styles */
		
ul.submenu li:hover ul, ul.submenu li.over ul { display:block; } /* The magic */