table {
	border-collapse: collapse;
	width: 93%;
	margin: 24px;
	font-size: 1.1em;
}

th {
	background: #3e83c9;
	color: #fff;
	font-weight: bold;
	padding: 2px 11px;
	text-align: left;
	border-right: 1px solid #dddddd;
	line-height: 1.2;
}

td {
	padding: 6px 11px;
	border-bottom: 1px solid ##dddddd;
	vertical-align: top;
}

td * 
{
    
	padding: 6px 11px;
}
tr td
{
    background : #c1c1c1;
}
tr.alt td {
	background: #ecf6fc;
}

tr.over td {
	background: #bcd4ec;
}
