<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBNL.App.Models.Properties.Settings.hostpro_dubaoConnectionString"
            connectionString="Data Source=ausp.edu.vn;Initial Catalog=hostpro_dubao;Persist Security Info=True;User ID=ausp_dubao;Password=latuine"
            providerName="System.Data.SqlClient" />
        <add name="DBNL.App.Models.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=eduvision.com.vn;Persist Security Info=True;User ID=artseed;Password=L@tuine299"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>