<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBNL.App.Models.Properties.Settings.dbnlConnectionString"
            connectionString="Data Source=112.78.2.58,1455;Initial Catalog=dbnl;Persist Security Info=True;User ID=eduvision_db2;Password=abcxyz"
            providerName="System.Data.SqlClient" />
        <add name="DBNL.App.Models.Properties.Settings.dbnlConnectionString2"
            connectionString="Data Source=112.213.89.28;Initial Catalog=dbnl;Persist Security Info=True;User ID=artseed"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>