<?xml version="1.0" encoding="utf-8" ?>
<DBNL.App.Config>
  <WebUIElement
      test = "sample configuration API"
      removeRule="[^a-zA-Z0-9]"
      replacementChar="-"
      featuredCount="6"
      othernewsCount="10"
      hotestNewsCount="2"
      otherFeaturesNews="8"
      featuredItemOnHP="3"
      articlePagingItem="1"
      marqueeItemCount="10"
      jobDisplayOnHP="18"
      />
  <FileResponsity 
      bannerFolder="~/Resources/Banners"
      pictureFolder="~/Resources/Pictures"
    />
  
</DBNL.App.Config>