<?xml version="1.0" encoding="utf-8" ?>
<DBNL.App.Config>
  <WebUIElement
      test = "sample configuration API"
      removeRule="[^a-zA-Z0-9]"
      replacementChar="-"
      featuredCount="6"
      othernewsCount="10"
      hotestNewsCount="2"
      otherFeaturesNews="8"
      featuredItemOnHP="3"
      articlePagingItem="12"
      marqueeItemCount="10"
      jobDisplayOnHP="18"
      extension=".aspx"
      ReCaptchaPrivateKey="6LeQvrwSAAAAAJEf1XBpO9xpb7qiKLWU9-utIsaH"
      ReCaptchaPublicKey="6LeQvrwSAAAAABCZFMrqtc1TFz8JYbRuf9HyEGtm"
      />
  <FileResponsity 
      bannerFolder="~/Resources/Banners"
      pictureFolder="~/Resources/Pictures"
    />
  <lucene
    indexingFolder = "C:\Projects\dubaonhanluc\DBNL\DBNL.App\DBNL.App\App_Data\Indexing"
    indexingServiceUrl ="http://localhost:8088/Dummy.aspx/Indexing"
    interval="100"
  />
  <emailing
    contactAddress="samuraitruong@yahoo.com"
    
    />
    
  
</DBNL.App.Config>