<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBNL.App.Models.Properties.Settings.dbnlConnectionString"
            connectionString="Data Source=eduvision.com.vn;Initial Catalog=dbnl;User ID=artseed"
            providerName="System.Data.SqlClient" />
        <add name="DBNL.App.Models.Properties.Settings.dbnlConnectionString1"
            connectionString="Data Source=eduvision.com.vn;Initial Catalog=dbnl;Persist Security Info=True;User ID=artseed"
            providerName="System.Data.SqlClient" />
        <add name="DBNL.App.Models.Properties.Settings.dbnlConnectionString2"
            connectionString="Data Source=112.213.89.28;Initial Catalog=dbnl;Persist Security Info=True;User ID=artseed;Password=L@tuine299"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>