/* Basic code - don't modify */
 #nav2 { display: block; margin: 0; padding: 0; position: relative; z-index:18; }
  #nav2 li { display: block; list-style: none; margin: 0; padding: 0; float: left; position: relative; }
  #nav2 a { display: block; }
  #nav2 ul { display: none; position: absolute; left: 0; margin: 0; padding: 0; }
  * html #nav2 ul { line-height: 0; } /* IE6 "fix" */
  	#nav2 ul a { zoom: 1; } /* IE6/7 fix */
    #nav2 ul li { float: none; }
    #nav2 ul ul { top: 0; }
    
/* Essentials - configure this */

#nav2 ul { width: 150px; }
#nav2 ul ul { left: 150px; }

/* Everything else is theming */

#nav2 { float:left; width:640px; height:37px; text-align:left;}
#nav2 li a:hover { color:#fff; text-decoration:none;}
#nav2 a { padding:0 20px 0 16px; color:#fff; font-size:12px; font-weight:bold; text-transform:uppercase; line-height:34px; background:url(../images/line.jpg) right center no-repeat;}
#nav2 li.end a { background:none;}
  #nav2 li.hover a, #nav2 li.active a { display:block; color:#fdb300; text-decoration:none;}
  #nav2 ul { top:34px; background:#fff4cc; padding:0; margin:0; padding-top:2px;}
  #nav2 ul ul { padding-top:0px;}
    #nav2 ul li a { color:#fff !important; font-size:11px; font-weight:bold; line-height:28px; height:28px; text-transform:uppercase; background:none; width:120px; border-bottom:1px solid #026257; margin:5px 0; padding-top:0; padding-bottom:0;}
		#nav2 ul li a { background:none; color:#28907f !important; text-decoration:none !important;}
		#nav2 li ul a { margin:0; padding-left:10px; padding-right:20px; color:#28907f !important;}
      #nav2 li ul a.hover { margin:0; background:#28907f !important; color:#fff !important; text-decoration:none;}
   #nav2 ul a {}
#nav2 ul a { border: none; }