<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="DBNL.App.Config" type="DBNL.App.Config.DBNLConfigurationSection,DBNL.App.Config"/>

    </configSections>
    <connectionStrings>
      <add name="DBNL.App.Models.Properties.Settings.dbnlConnectionString" connectionString="Data Source=112.213.89.28;Initial Catalog=dbnl;Persist Security Info=True;User ID=artseed;Password=L@tuine299" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <DBNL.App.Config configSource="Configs\app.config"/>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
